{% extends 'base.html' %}

{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-4">{{ title }}</h1>
                <hr class="my-2">
                <form method="post">
                    {{ form }}
                    <hr>
                    <div class="float-right">
                        <a class="btn btn-light" href="/">Back</a>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
